<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="row">
   <div class="col-md-2 admin-dashboard" >
    <%- include('tables') %>

   </div>
   <div class="col-md-10">
    <h3>Stall Collections</h3>
    
    <input
    type="text"
    id="myInput2"
    onkeyup="myFunction2()"
    placeholder="Search for stall name "
    title="Type stall name"
    />
    
    <table class="table table-striped" id="stallTable"> 
        <thead>
            <tr>
                <th>Sl No</th>
                <th>Vendor Name</th>
                <th>Stall Name</th>
                <th>Stall Type</th>
                <th>Total</th>
                <th>Paid</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
           <% for(var i = 0; i < stall.length; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= stall[i].name %></td>
                <td><%= stall[i].stallName %></td>
                <td><%= stall[i].stallType %></td>
                <td><%= stall[i].total %></td>
                <td><%= stall[i].paid %></td>
                <td><%= stall[i].total - stall[i].paid %></td>

            </tr>
        <% } %>
        </tbody>
    </table>
    
   </div>
 </div>

<style>
    #myInput, #myInput2, #myInput3
      {
      background-repeat: no-repeat;
      width: 400px;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      margin: 5px;
    }

    #stallTable{
        margin: 5px;
    }

    thead{
        background-color: #B0C4DE;
    }
</style>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("stallTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function myFunction2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        table = document.getElementById("stallTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function myFunction3() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        table = document.getElementById("stallTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[3];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
</script>