<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<h3><a class="btn btn-secondary" href="/party"><i class="fa fa-plus"></i> Add Vendor</a> Vendor List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <% for(var i = 0; i < party.length; i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= party[i].name %></td>
            <td><%= party[i].address %></td>
            <td><%= party[i].phoneNo %></td>
            <td>
                <a class="btn btn-warning" href=""><i class="fa fa-pencil " aria-hidden="true" title="update"></i> Update</a> &nbsp;&nbsp;
                <a class="btn btn-danger" href=""><i class="fa fa-trash" aria-hidden="true" title="delete"></i> Delete</a> &nbsp;&nbsp;
                <a class="btn btn-success" href="/addStall/<%=party[i].name %>"><i class="fa fa-plus" aria-hidden="true" title="add stall"></i>  Add Stall</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-dark" href="/stallAllocation/<%=party[i].name %>"><i class="fa fa-table" aria-hidden="true" title="view stall"></i> View Stalls</a> 


            </td>
        </tr>
    <% } %>
    </tbody>
</table>